:root {
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);

    --fog-blue: rgb(1,61,122);

    --navbar-advert-text: rgb(2,37,70);
    --navbar-text: rgb(16,24,32);

    --main-body-background: rgb(245,245,245);
}

* {

}

body {
    font-family: Dinpro, helvetica, arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--main-body-background);
}