<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>QuickByg fra Fog - få et tilbud på en carport i specialmål</title>
    <link rel="stylesheet" th:href="@{/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/css/components/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/pages/index.css}">

    <link rel="preload" href="/assets/fonts/Dinpro-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <script th:src="@{/js/navbarSearch.js}" defer></script>
</head>

</html>