<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${materials != null ? materials.size() : 0}"></span>

<h2 th:text="${session.carport.roofType.name}"></h2>


<form action="/carport/save" method="post">

    <select name="roofMaterialId" required>
        <option th:each="rm : ${materials}"
                th:value="${rm.id}"
                th:text="${rm.name}">
        </option>
    </select>

    <label>Length:</label>
    <input type="number" name="length" required>

    <br><br>

    <label>Width:</label>
    <input type="number" name="width" required>

    <br><br>

    <select name="carportMaterialId" required>
        <option th:each="m : ${materials}"
                th:value="${m.id}"
                th:text="${m.name}">
        </option>
    </select>

    <br><br>

    <button type="submit">
        Save Carport
    </button>

</form>


</body>
</html>