<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
    <link rel="stylesheet" href="/css/pages/edit-order.css">
</head>

<body>

<h1>Rediger Ordre</h1>

<a href="/seller">← Tilbage</a>

<td>
    <form th:action="@{'/seller/updateStatus/' + ${order.id}}" method="post">
        <select name="status" onchange="this.form.submit()">
            <option value="Pending" th:selected="${order.status == 'Pending'}">Klar til betaling</option>
            <option value="Rejected" th:selected="${order.status == 'Rejected'}">Afvist</option>
            <option value="Completed" th:selected="${order.status == 'Completed'}">Afsluttet</option>
        </select>
    </form>
</td>

<form method="post" th:action="@{'/seller/edit/' + ${order.id} }">

    <input type="hidden" name="id" th:value="${order.id}" />

    <label>Tag materiale</label>
    <input type="text" name="roofMaterial" th:value="${order.roofMaterial}" />

    <label>Bredde</label>
    <input type="number" name="carportWidth" th:value="${order.carportWidth}" />

    <label>Længde</label>
    <input type="number" name="carportLength" th:value="${order.carportLength}" />

    <label>Medvalgt skur</label>
    <select name="hasToolShed">
        <option th:value="true" th:selected="${order.hasToolShed}">Ja</option>
        <option th:value="false" th:selected="${!order.hasToolShed}">Nej</option>
    </select>

    <label>Skur bredde</label>
    <input type="number" name="shedWidth" th:value="${order.shedWidth}" />

    <label>Skur længde</label>
    <input type="number" name="shedLength" th:value="${order.shedLength}" />

    <label>Note</label>
    <textarea name="note" th:text="${order.note}"></textarea>

    <label>Roof angle</label>
    <input type="number" name="roofAngle" th:value="${order.roofAngle}" />

    <label>Pris</label>
    <input type="number" name="totalPrice" th:value="${order.totalPrice}" step="0.01" />

    <button type="submit">Opdater ordre</button>

</form>

</body>

</html>