<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/orderPage.css}">
</head>
<body>

<header>
    <div class="header-info">
        <div>30 dages returret</div>
        <div>Klik og hent inden for 3 timer*</div>
        <div>1-3 dages levering*</div>
        <div>Lån en trailer gratis</div>
    </div>
</header>

<div class="wrapper">
    <p class="siteRoute">
        Byg selv-produket / Carporte / Quick-Byg carporte / Quick-Byg carport med fladt tag
    </p>
    <div class="quick-build-text">
        <div class="text-block">
            <h1 class="headline">Bestil Quick-Byg tilbud - carport med fladt tag</h1>
            <div>
                <p class="info-text">Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive
                    en skitsetegning på en carport indenfor vores standardprogram.
                </p>
                <p class="info-text">
                    Tilbud og skitsetegning fremsendes på mail hurtigst muligt.
                    Ved bestilling medfølger standardbyggevejledning.
                </p>
                <p class="info-text">
                    Udfyld formularen omhyggeligt og klik på "Bestil tilbud".
                    Felter markeret med * SKAL udfyldes!
                </p>
            </div>
        </div>
    </div>
    <div class="form-background">
        <h2>Carport med fladt tag</h2>
        <form>
            <label>Tagtype</label>
            <select>
                <option>Uden tagplader</option>
                <option>Plasttrapezplader</option>
            </select>
            <label>Carport bredde</label>
            <select>
                <option>240cm</option>
                <option>270cm</option>
                <option>300cm</option>
                <option>Skal muligvis loades med th</option>
            </select>
            <label>Carport længde</label>
            <select>
                <option>240cm</option>
                <option>270cm</option>
                <option>300cm</option>
                <option>Skal muligvis loades med th</option>
            </select>
            <label>Redskabsrum</label>
            <select>
                <option>Uden redskabsrum</option>
                <option>Med redskabsrum</option>
            </select>
            <label>Redskabsrum bredde</label>
            <select>
                <option>240cm</option>
                <option>270cm</option>
                <option>300cm</option>
                <option>Skal loades med th</option>
            </select>
            <label>Redskabsrum længde</label>
            <select>
                <option>240cm</option>
                <option>270cm</option>
                <option>300cm</option>
                <option>Skal muligvis loades med th</option>
            </select>
            <label>Evt. bemærkning</label>
            <input type="text">
            <label>Kontakt information</label>
            <input type="text" placeholder="Fornavn">
            <input type="text" placeholder="Efternavn">
            <input type="text" placeholder="Adresse">
            <input type="text" placeholder="Postnummer">
            <input type="text" placeholder="By">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Telefon">
        </form>
        <div>
            <label>Kontak samtykke</label>
            <div class="consent">
                <input type="checkbox" required>
                <p>Jeg giver samtykke til, at Johannes Fog A/S må kontakte mig via telefon og/eller
                    e-email i forbindelse med tilbud på QuickByg carport og at de afgivne oplysninger opbevares og behandles
                    jf. Fogs persondatapolitik.</p>
            </div>
            <a href="" class="privacy-link">Læs mere om persondatapolitik her</a>
        </div>

        <button type="submit" class="submit-btn">Bestil tilbud</button>
    </div>
</div>

</body>
</html>