<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fog Carport</title>
    <link rel="stylesheet" href="/public/css/header.css">

</head>
<body>
    <header>
        <div class="header-info">
            <div>30 dages returret</div>
            <div>Klik og hent inden for 3 timer*</div>
            <div>1-3 dages levering*</div>
            <div>Lån en trailer gratis</div>
        </div>
        <div class="header">
            <div>
                <a>
                    <img src="" alt="Fog logo">
                </a>
            </div>
            <div>
                <div>Bolig & design</div>
                <div>Byggematerialer</div>
                <div>El & belysning</div>
                <div>Have & fritid</div>
                <div>Værktøj</div>
                <div>Mærker</div>
                <div>Tilbud</div>
                <div>Fog Pro</div>
            </div>
            <div>Søgning</div>
            <div>
                <div>Fog Konto</div>
                <div>Find os</div>
                <div>Kurv</div>
            </div>
        </div>

    </header>

</body>
</html>