<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>

    <link rel="stylesheet" th:href="@{/css/pages/confirmationPage.css}">
</head>

<body>

<main class="confirmation-page">

    <section class="confirmation-card">

        <button class="back-button"
                onclick="window.location.href='/'">
            ← Tilbage til forsiden
        </button>

        <div class="confirmation-message">
            <h1>Din forespørgsel er sendt!</h1>
            <h2> Forvent et opkald eller en mail fra en af vores sælgere inden for et par hverdage.</h2>
        </div>
    </section>
</main>
</body>
</html>