<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Tak for din forespørgsel, <span th:text="${firstname}"></span></p>

<h3>Carport detaljer</h3>
<ul>
    <li>Bredde: <span th:text="${width}"></span></li>
    <li>Længde: <span th:text="${length}"></span></li>
    <li>Taghældning: <span th:text="${roofAngle}"></span></li>
    <li>Redskabsrum: <span th:text="${toolShed}"></span></li>
</ul>

<h3>Kontakt</h3>
<ul>
    <li>Email: <span th:text="${email}"></span></li>
    <li>Telefon: <span th:text="${phone}"></span></li>
</ul>

<p>Bemærkning: <span th:text="${note}"></span></p>
</body>
</html>