:root {
    --clr-panel: #dde2e7;
    --clr-border: #c4ccd4;
    --clr-red: #c0392b;
}

.wrapper {
    background-color: #f5f5f3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 15px;
    align-items: start;
}

.quick-build-text {
    padding: 5px 30px 15px;
    font-size: 25px;
}

.siteRoute {
    padding: 5px 15px 15px;
    font-size: 25px;
}

.headline {
    padding-bottom: 75px;
    font-size: 43px;
    font-weight: 700;
}

.info-text {
    margin: 0 0 15px;
}

.text-block {
    padding-bottom: 15px;
}

.form-background {
    background-color: #cfdad8;
    padding: 20px 50px;
}

.form-background h2 {
    font-size: 40px;
    margin: 0 0 55px;
}

label {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 25px 0 10px;
}

select {
    width: 100%;
    padding: 5px 25px;
    height: 60px;
    font-size: 20px;
    background: var(--main-body-background);
    border: 1px solid var(--clr-border);
    border-radius: 3px;
    cursor: pointer;
}

select:has(option[value=""]:checked) {
    color: #999;
}

select:hover {
    outline: 2px solid var(--clr-border);
}

.notes {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background: var(--main-body-background);
    resize: vertical;
    min-height: 120px;
    border-radius: 3px;
    border: none;
    max-height: 500px;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    background: var(--main-body-background);
    border: 1px solid var(--clr-border);
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
}

.consent {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 30px;

}

.consent input {
    cursor: pointer;
    border-radius: 5px;
    appearance: checkbox;
    transform: scale(3);
    margin-top: 15px;
    width: 25px;
    cursor: pointer;
}


.consent p {
    font-size: 25px;
}

.privacy-link {
    font-size: 25px;
    color: var(--fog-blue);
    text-decoration: underline;
}

.submit-btn {
    display: flex;
    align-items: center;
    background: var(--fog-blue);
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 24px 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 100px 0 75px;
}

.submit-btn:hover {
    opacity: 85%;
}

@media (min-width: 1024px) {

    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding: 50px;
    }

    .siteRoute {
        grid-column: 1 / -1;
        font-size: 14px;
    }

    .headline {
        font-size: 27px;
        font-weight: 600;
    }

    .info-text {
        font-size: 16px;
        line-height: 1.7;
    }

    .form-background {
        padding: 50px;
    }

    .form-background h2 {
        font-size: 25px;
    }

    form label {
        font-size: 18px;
    }

    select {
        font-size: 14px;
        padding: 5px;
        height: 40px;
    }

    .consent {
        font-size: 14px;
    }

    .consent input {
        width: 15px;
        transform: scale(1.5);
        margin-top: 5px;
    }

    .consent p {
        font-size: 14px;
        min-width: 350px;
    }

    input {
        font-size: 14px;
    }

    .notes {
        font-size: 14px;
    }

    label {
        font-size: 16px;
    }

    .privacy-link {
        font-size: 16px;
    }

    .submit-btn {
        font-size: 18px;
        padding: 10px 20px;
        margin: 60px 0 0;
    }
}